$default: #000000;
$default-light: #ffffff;

body {
    background-color: $default-light;
    font-family: Arial, Helvetica, sans-serif;
}

.color-input {
    width: 50%;
    margin: auto;
}

.home {
    text-align: center;
}